<footer id="footer">
    <div class="holder">
        <div class="footer-top">
            <ul class="social-network">
                <li><a href="https://www.instagram.com/petsbestinsurance"><span class="icon icon-instagram"></span></a></li>
                <li><a href="https://www.facebook.com/petsbestinsurance"><span class="icon icon-facebook"></span></a></li>
                <li><a href="https://www.twitter.com/petsbest"><span class="icon icon-twitter"></span></a></li>
                <li><a href="https://www.pinterest.com/petsbest"><span class="icon icon-pinterest-p"></span></a></li>
            </ul>
            <ul class="logo-list view-desktop">
                <li><a target="_blank" href="https://www.bbb.org/snakeriver/business-reviews/pet-health-plans/pets-best-insurance-in-boise-id-39001947"><img src="https://imageserver.petsbest.com/website/home/logo-1.png" alt="bbb accredited business bbb rating A+" width="139" height="53"></a></li>
                <li><a target="_blank" href="https://naphia.org/"><img src="https://imageserver.petsbest.com/website/home/logo-2.png" alt="naphia" width="138" height="53"></a></li>
            </ul>
        </div>
        <div class="footer-block">
            <div class="footer-accordion">
                <div class="accordion-row">
                    <a href="#" class="accordion-opener">Legal</a>
                    <div class="accordion-slide">
                        <ul>
                            <li><a href="/underwriters-licensing">Underwriting &amp; Licensing</a></li>
                            <li><a href="/application-agreement">Application Agreement</a></li>
                            <li><a href="/privacy-agreement">Privacy Agreement</a></li>
                            <li><a href="/notice-to-california-residents">Notice to California Residents</a></li>
                        </ul>
                    </div>
                </div>
                <div class="accordion-row">
                    <a href="#" class="accordion-opener">FOR PARTNERS</a>
                    <div class="accordion-slide">
                        <ul>
                            <li><a href="/vets">Veterinarians</a></li>
                            <li><a href="/employers-brokers">Employers &amp; Brokers</a></li>
                            <li><a href="/affiliates">Affiliates</a></li>
                            <li><a href="/shelter-and-rescue">Shelter &amp; Rescue</a></li>
                        </ul>
                    </div>
                </div>
                <div class="accordion-row">
                    <a href="#" class="accordion-opener">ABOUT US</a>
                    <div class="accordion-slide">
                        <ul>
                            <li><a href="/contact-us">Contact Us</a></li>
                            <li><a href="/our-story">Our Story</a></li>
                            <li><a href="/press">Press</a></li>
                            <li><a href="/careers">Careers</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="subscribe-form">
                <h3>STAY CONNECTED</h3>
                <p>Get a monthly sample of helpful information, tips, and discounts for your dog or cat</p>
                <div class="input-wrap signup">
                    <div class="input-holder">
                        <input type="email" placeholder="Email Address">
                    </div>
                    <input type="button" value="Subscribe">
                </div>
            </div>
            <ul class="logo-list view-mobile">
                <li><a target="_blank" href="https://www.bbb.org/snakeriver/business-reviews/pet-health-plans/pets-best-insurance-in-boise-id-39001947"><img src="https://imageserver.petsbest.com/website/home/logo-1.png" alt="bbb accredited business bbb rating A+" width="139" height="53"></a></li>
                <li><a target="_blank" href="https://naphia.org/"><img src="https://imageserver.petsbest.com/website/home/logo-2.png" alt="naphia" width="138" height="53"></a></li>
            </ul>
        </div>
        <div class="footer-area">
            <p>Copyright &copy; 2006-2018 Pets Best Insurance Services, LLC - 2323 S. Vista Ave. Ste. 100 - Boise, ID 83705 <a href="tel:877-738-7237">877-738-7237</a>. Pet insurance coverage offered and administered by Pets Best Insurance Services, LLC is underwritten by American Pet Insurance Company or Independence American Insurance Company, a Delaware insurance company.</p>
        </div>
    </div>
</footer>