<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="ReverseProxyInboundRule1" stopProcessing="true">
                    <match url="http://localhost:8018/hugo" />
                    <action type="Rewrite" url="http://jenkins.genfireins.com/" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
